body {
    margin: 0px;
    padding: 0px;
    background-image: url(/image/Memphis.png);
    background-repeat: no-repeat;
}

ul {
    display: flex;
    list-style: none;
}

.logo {
    font-family: Parisienne;
    font-size: 40px;
    color: black;
}

.tabs:hover {
    color: goldenrod;
}

a {
    margin: 30px;
    font-family: IBM Plex Sans;
    text-decoration: none;
    color: grey;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(6, 201, 255, 0.534);
    padding: 0px 5%;
}

.current {
    font-weight: bold;
    color: black;
}

h {
    font-weight: bold;
    font-size: 300%;
    font-family: "";
    padding: 1em 1em 1em 1em;
}

.container {
    width: 80%;
    height: 30em;
    margin: 50px auto;
    padding: 0px auto;
}

.contactInfo {
    margin: 50px 0px 0px 80px;
    padding: 0px 0px 10px 0px;
}

.email {
    display: flex;
    width: 30%;
    font-size: 20px;
}

.email p {
    margin: 20px 0px 0px 30px;
}

.number {
    display: flex;
    width: 30%;
    font-size: 20px;
    margin: 20px 0px;
}

.number p {
    margin: 20px 0px 0px 30px;
}

.contactForm-container {
    background-color: rgb(230, 227, 227);
    width: 30%;
    padding: 2%;
    border-radius: 2px;
    position: relative;
    top: -140px;
    left: 66%;
}

.contactForm-container a {
    margin: auto;
}

.contactForm-container .fa-linkedin {
    color: #0e76a8;
}

.contactForm-container .fa-github-square {
    color: rgba(49, 49, 54, 0.747);
}

.contactForm-container .submit {
    font-size: 20px;
    border-radius: 3px;
    background-color: white;
    border-width: 3px;
}

@media only screen and (max-width:768px) {
    .contactForm-container textarea {
        width: 90%;
    }
}

@media only screen and (max-width:480px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-repeat: no-repeat;
        margin-top: 10em;
    }
    .logo {
        display: none
    }
    .number {
        display: inline;
    }
    .number p {
        position: relative;
        top: -40px;
        left: 40px;
    }
    .contactInfo {
        position: relative;
        top: -50px;
    }
    .contactForm-container {
        position: relative;
        top: -40px;
        left: 0px;
        padding: 7% 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    nav ul {
        flex-direction: column;
    }
    nav {
        display: flex;
        justify-content: space-evenly;
    }
}