/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between; /* space between items horizontally */
  align-items: center; /* vertically center items */
  padding: 1.2rem 8rem;
  background-color: #222;
  color: white;
}

.nav-links {
  display: flex;
  gap: 3rem; /* space between links */
}
