.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #F1F5F9;
  padding: 1.5rem 0;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.carousel-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  margin: 0 2rem;
  color: #1f0f2a;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

.carousel-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}
.carousel-item span {
  font-size: 1.5rem;
}

.carousel-item:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* Core animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}
